# ----------------+ APP CONFIG +------------------
FILE_NUMBER=002
ADMIN_ID=
BOT_TOKEN=
MAX_CONCURRENT_ACCOUNTS=5
BOOTSTRAP_WORKER=2
UPDATE_WORKER=
LOG_LEVEL=INFO


# Performance Settings - !( LEAVE default unless necessary ) 
MAX_ATTEMPTS=2
MAX_MESSAGES_PER_CHANNEL=10
FIRST_IMPORT_SCAN_LIMIT=5000
MIN_DELAY_BETWEEN_CHANNELS=5.0  
MAX_DELAY_BETWEEN_CHANNELS=10.0 
MIN_DELAY_BETWEEN_MESSAGES=1.0 
MAX_DELAY_BETWEEN_MESSAGES=2.0
PROGRESS_REPORT_INTERVAL=60
RESOLVE_MIN_GAP=5.0
EMPTY_CYCLE_THRESHOLD=10
CYCLE_MIN_SECONDS=30

# File Settings
CHANNELS_DIR=data/channels
RETIRED_FILE=data/retired/retired.json
SUSPENDED_FILE=data/suspended.json
FAILED_FILE=data/failed_channels.json
ACCOUNTS_FILE=data/accounts.json


#---------------- DATABASE -----------------
REDIS_URL="rediss://default:"
DATABASE_URL="postgres://"

# ---------------- worker file path ----------------
WORKER_PATH=/home/yuchann/yuChannBot/dev/worker
VENV_PATH=/home/yuchann/yuChannBot/dev/worker/venv

